<!DOCTYPE html>
<html>

    <head>
        <title>Signup</title>
        <style type="text/css">
            .error,.error1,.error2,.error3 {
                color: red         }

                body{background-color: cyan;
                text-align: center; margin:auto;}
                
                

        </style>
            
 
    </head>
    <body>
        <h1>
            <a href="/">Signup</a>
        </h1>

        {% block content %}
        {% endblock %}

    </body>
</html>
