{% extends "base.html" %}

        {% block content %}

  
        <form name = "form"  action = "/error" method="post">
                <table align="center">
                    <tr>
                        <td><label for="username">Username</label></td>
                        <td>
                            <input name="username" type="text" value="{{username}}">
                            
                            <span class="error">{{error}}</span>
                            

                        </td>
                    </tr>
                    <tr>
                        <td><label for="password">Password</label></td>
                        <td>
                            <input name="password" type="password">
                         
                            <span class="error1">{{error1}}</span>
                          
                        </td>
                    </tr>
                    <tr>
                        <td><label for="verify">Verify Password</label></td>
                        <td>
                            <input name="verify" type="password">
                        
                            <span class="error2">{{error2}}</span>
                         
                        </td>
                    </tr>
                    <tr>
                        <td><label for="email">Email (optional)</label></td>
                        <td>
                            <input name="email" value="{{email}}">
                       
                            <span class="error3">{{error3}}</span>
                          
                        </td>
                    </tr>
                </table>
                <input type="submit">
            </form>

{% endblock %}